* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  object-fit: cover;
}

.verticalDivider {
  display: inline-block;
  height: 1.5rem;
  border: 1px solid rgb(150, 150, 150, 0.2);
}

hr {
  opacity: 0.1;
}

.windowSlideStartLeft {
  left: 0;
  animation: SSL 0.2s 1 linear;
}

.windowSlideEndLeft {
  left: -100%;
  animation: SEL 0.2s 1 linear;
}
.windowSlideStartRight {
  left: 0;
  animation: SSR 0.2s 1 linear;
}

.windowSlideEndRight {
  left: 100%;
  animation: SER 0.2s 1 linear;
}

@keyframes SSL {
  from {
    left: -50%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes SEL {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -50%;
    opacity: 0;
  }
}
@keyframes SSR {
  from {
    left: 50%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes SER {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 50%;
    opacity: 0;
  }
}
